@use "../abstracts" as *;

.header-logo {
    @include font-face($font-primary, 24px, $color-white, 500, 140%);
}
.txt-version {
    font-size: 12px;
    font-weight: 400;
}
h2 {
    @include font-face($font-primary, 2rem, $color-white, 500, 140%);
    padding-bottom: .5rem;
}
h3 {
    @include font-face($font-primary, 1.5rem, $color-white, 500, 140%);
    letter-spacing: -0.02em;
    background: linear-gradient(140deg, #1A82E3 15.2%, #34C18F 60.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt-normal {
    @include font-face($font-primary, 1rem, $color-white, 500, 140%); 
    letter-spacing: -0.02em;
}
.cl-grey {
    color: $color-grey-100;
}
.txt-panel {
    &-left {
        @include font-face($font-primary, 14px, $color-grey-100, 700, 140%);
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }
    &-right {
        @include font-face($font-primary, 20px, $color-white, 600, 140%);
        letter-spacing: -0.02em;
    }
}
.txt-scramble {
    @include font-face($font-primary, 1.5rem, $color-white, 500, 140%);
}
.txt-timer {
    @include font-face($font-timer, 16rem, $color-white, 500, 100%);
    letter-spacing: -0.08em;
}
.txt-warning {
    @include font-face($font-primary, 5rem, $color-white, 500, 100%);
    text-align: center;
}