@use "../abstracts" as *;
@use "../base" as *;


.cont-glass {
    height: 100%;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: -10px -10px 40px 0px rgba(0, 0, 0, 0.25);
    padding: 2rem 1.5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar-track{
        border: 1px solid transparent;
        background-color: transparent;
    }

    &::-webkit-scrollbar{
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(100, 100, 100, 0.3);
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.side-cont-wrapper {
    min-width: 392px;
    width: 392px;
    max-width: 392px;
    height: 100%;
    position: relative;
}
.side-cont {
    width: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    // opacity: 1;
    transition: min-width .3s ease-in, width .3s ease-in, padding .3s ease-in;

    .cont-inner {
        @include flex-box(column, stretch, flex-start);
        gap: 1.5rem;
    }

    &-head {
        padding-left: 1rem;
        min-width: calc(288px + 48px);

    }
}

.cont-hide {
    min-width: 0px;
    width: 0px;
    padding: 2rem 0px;
    // visibility: hidden;
    // opacity: 0;
    transition: min-width .3s ease-in, width .3s ease-in, padding .3s ease-out;
}

.cont-panel {
    width: 100%;
    @include flex-box(column, flex-start, center);
    padding-top: 8%;
}