@use "../abstracts" as *;
@use "../base" as *;

.panel {
    @include flex-box(column, flex-start, flex-start);
    width: 100%;
    min-width: calc(288px + 48px);
    gap: 1.25rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: $color-blue-dark;
    height: 100%;
    // transition: all .5s ease;
    

    &-head {
        @include flex-box(row, space-between, center);
        width: 100%;
    }

    &-times {
        max-height: 160px;
        overflow: scroll;

        &::-webkit-scrollbar-track{
            border: 1px solid transparent;
            background-color: transparent;
        }

        &::-webkit-scrollbar{
            width: 8px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb{
            background-color: rgba(100, 100, 100, 0.3);
            border-radius: 1rem;
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
    

    &-times-amount {
        @include flex-box(row, space-between, flex-start);
        padding-top: 1rem;
        border-top: 1px solid $color-grey-200;
        width: 100%;
    }

    &-stats {
        width: 100%;
        @include flex-box(column, flex-start, flex-start);
        gap: .5rem;        

        &-item {
            width: 100%;
            @include flex-box(row, space-between, flex-end);
            padding-bottom: .5rem;
            border-bottom: 1px solid $color-grey-200;
        }
        &-item:last-child {
            border: none;
        }
    }

    &-hide {
        height: 80px;
        height: all .5s ease;
    }
}